In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Turn the project folder path into a string 
path = r'C:\Users\Kalyani\Documents\Instacart_Basket_Analysis'

In [3]:
path

'C:\\Users\\Kalyani\\Documents\\Instacart_Basket_Analysis'

In [22]:
## orders_cleaned.csv” data set from your “Prepared Data” folder as df_ords
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared_data', 'orders_cleaned.csv'), index_col=False)

In [13]:
# Import the data set into Jupyter as a new dataframe: df_ords_prior.
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original_data', '4.6_orders_products_prior', 'orders_products_prior.csv'), index_col = False)

In [35]:
# cHecking an outout
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [36]:
# Ckecking an output
df_ords.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_previous_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [24]:
# Run some shape checks on both dataframes using the shape function
df_ords_prior.shape

(32434489, 4)

In [25]:
df_ords.shape

(3421083, 6)

In [26]:
# Lets merge two data frames df_ords an df_ords_prior in new dataframe df_merged_large on common column 'order_id' setting 'indicator' to ,True'.
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [27]:
df_merged_large.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_previous_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [34]:
df_merged_large.shape

(32434489, 10)

In [31]:
# Using the value_counts() function lets you quickly sum up all the values in the “_merge” column, instantly seeing whether you have a full match.
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

# Exercise 4.6 Taskwork

# Step 02:

In [37]:
 # Export the merged file in pickle format as “orders_products_combined.pkl”
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared_data', 'orders_products_combined.pkl'))